@import "tailwindcss";

body {
  background-color: #0f172a;
  color: white;
}
/* 
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
} */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #7c3aed;
  border-radius: 999px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #7c3aed transparent;
}

/* .scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

.right-scroll {
    height: 100%;
    overflow-y: auto;
    direction: rtl;
    overflow-x: hidden;
}

.right-scroll > * {
    direction: ltr;
    padding-left: 12px;
}